.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-left {
  margin-left: 5rem !important; }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

/* Die *-categorie wordt niet automatisch ook toegepast op de pseudo-elementen before en after */
/* box-sizing hier en in body: hierboven dwing je * om elders te kijken wat het moet zijn. Doet verder niet zoveel nu */
html {
  font-size: 62.5%;
  /* <-- dit ding hier in de html is de root font-size. Alle elementen uitgedrukt in rem zijn hierop gebaseerd. Om dat makkelijk te maken, zijn we uitgegaan van een root van 10px, want dan hoef je niet steeds te rekenen met die 16 (note to self: IT'ers zijn niet per se goed in rekenen)(note to self: serieus, wie wel? Als wiskundeleraren zichzelf al niet vertrouwen). Om vervolgens te zorgen dat de root dus die 10px is, maar nog wel afhangt van wat de user instelt (slechtzienden zoals ik willen grotere lettertjes) moet het dus 10/16 = 5/8 = 62.5% worden van de browser default */ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: blue;
  color: yellow; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7; }

p {
  margin-bottom: 1.5rem; }

.heading-primary {
  font-size: 3rem;
  display: block;
  margin-bottom: 1rem; }

.heading-secondary {
  font-size: 1.6rem; }

.heading-tertiary {
  font-weight: 300;
  color: black; }

.fat {
  font-weight: 700; }

:link,
:visited {
  color: black;
  text-decoration: none; }

.button {
  display: inline-block;
  height: 4rem;
  background-color: red;
  border-radius: 2rem; }
  .button__text {
    margin-top: .3rem;
    margin-right: 1.8rem;
    color: white;
    display: inline-block; }

.meetup-icon {
  width: 2.3rem;
  float: left;
  margin-top: .9rem;
  margin-left: .9rem;
  margin-right: 1.3rem; }

.itsfree {
  display: block;
  position: absolute;
  width: 9rem;
  left: 50%;
  transform: translateX(-50%); }

.fixed-join-us-button {
  position: fixed;
  z-index: 5;
  top: 6rem;
  right: 3rem; }

.join-meetup-button {
  display: inline-block;
  position: relative;
  left: 13rem; }

.imgcomp {
  position: relative;
  width: 35%;
  display: table-cell; }
  .imgcomp__circle1 {
    width: 15rem;
    height: 15rem;
    background-color: purple;
    border-radius: 50%;
    overflow: hidden;
    z-index: 3;
    position: absolute; }
    .imgcomp__circle1--pic {
      height: 100%; }
    .imgcomp__circle1--left {
      top: 31rem;
      left: 29rem; }
    .imgcomp__circle1--right {
      bottom: -1rem;
      right: 25rem; }
  .imgcomp__circle2 {
    width: 28rem;
    height: 28rem;
    background-color: purple;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
    position: absolute; }
    .imgcomp__circle2--pic {
      height: 100%; }
    .imgcomp__circle2--left {
      top: 17rem;
      left: 15rem; }
    .imgcomp__circle2--right {
      bottom: 3rem;
      right: 10rem; }
  .imgcomp__circle3 {
    width: 48rem;
    height: 48rem;
    background-color: yellow;
    border-radius: 50%;
    position: absolute; }
    .imgcomp__circle3--left {
      transform: translateX(-30%); }
    .imgcomp__circle3--right {
      right: -18rem; }

.composition {
  width: 100vw;
  height: 48rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  position: relative; }
  .composition__hexagon {
    width: 34rem; }
    .composition__hexagon--left {
      margin-left: 20rem; }
    .composition__hexagon--middle {
      margin: 0 2rem 2rem 2rem; }
  .composition__backgroundelement {
    position: absolute;
    z-index: -1; }
  .composition__blue--big {
    width: 50rem;
    height: 50rem;
    background-color: blue;
    border-radius: 50%;
    left: -14rem;
    top: -4rem; }
  .composition__blue--small {
    width: 9rem;
    height: 9rem;
    background-color: blue;
    border-radius: 50%;
    left: 40rem;
    top: 30rem; }
  .composition__yellow--big {
    width: 24rem;
    height: 24rem;
    background-color: yellow;
    border-radius: 50%;
    left: 61rem;
    top: -5rem; }
  .composition__yellow--small {
    width: 9rem;
    height: 9rem;
    background-color: yellow;
    border-radius: 50%;
    left: 62rem;
    top: 30rem; }
  .composition__yellow--hexagon1 {
    width: 3rem;
    left: 54rem;
    top: 2rem; }
  .composition__yellow--hexagon2 {
    width: 5rem;
    left: 89rem;
    top: 2rem; }
  .composition__green--big {
    width: 30rem;
    height: 30rem;
    background-color: lightgreen;
    border-radius: 50%;
    left: 121rem;
    top: 8rem; }
  .composition__green--small {
    width: 9rem;
    height: 9rem;
    background-color: lightgreen;
    border-radius: 50%;
    left: 99rem;
    top: 2rem; }

.yellowdot {
  width: 2rem;
  height: 2rem;
  background-color: yellow;
  border-radius: 50%;
  margin: 3.5rem 0;
  margin-left: 80rem; }

.hoofd {
  height: 48rem;
  display: table; }
  .hoofd:not(:first-child) {
    margin-top: 10rem; }
  .hoofd:first-child {
    margin-top: 5rem; }
  .hoofd__container {
    width: 65%;
    height: 100%;
    display: table-cell;
    position: relative; }
  .hoofd__content {
    width: 65%;
    margin-top: 18rem;
    margin-left: 8rem; }

.details__left {
  width: 3.5rem; }

.details__right {
  display: inline-block; }

.details__logo {
  width: 3.5rem;
  float: left;
  margin-top: 1.3rem;
  margin-right: 1.3rem; }

.detailbar .details {
  display: inline-block; }

.infosection__container {
  width: 60%;
  transform: translateX(45%);
  display: block; }

.threeflavors__container {
  width: 50%;
  transform: translateX(50%);
  margin-top: 10rem; }
  .threeflavors__container p, .threeflavors__container h1 {
    text-align: center; }

.footer {
  width: 100vw;
  margin: 0 auto; }
  .footer__container {
    width: 60%;
    display: block;
    transform: translateX(30%);
    margin-top: 10rem; }
    .footer__container--skyline {
      width: 100%;
      margin-bottom: 1rem; }
    .footer__container--heading {
      transform: translateX(45%);
      margin-top: 3rem;
      margin-bottom: 1rem;
      font-size: 2rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col"] {
    float: left; }
    .row [class^="col"]:not(:last-child) {
      margin-right: 0; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col"] {
        width: 100% !important; } }
  .row .col1of2 {
    width: calc((100% - 4rem) / 2); }
  .row .col1of3 {
    width: calc((100% - 2 * 4rem) / 3); }
  .row .col2of3 {
    width: calc(2 * ((100% - 2 * 4rem) / 3) + 4rem); }
  .row .col1of4 {
    width: calc((100% - 3 * 4rem) / 4); }
  .row .col2of4 {
    width: calc(2 * ((100% - 3 * 4rem) / 4) + 4rem); }
  .row .col3of4 {
    width: calc(3 * ((100% - 3 * 4rem) / 4) + 2 * 4rem); }

.header {
  width: 100vw;
  margin: 0 auto; }
  .header__images {
    width: 60%;
    display: block;
    transform: translateX(30%); }
    .header__images--logo {
      width: 50%;
      transform: translateX(50%); }
    .header__images--skyline {
      width: 100%;
      margin-bottom: 1rem; }
  .header__meetup {
    width: 100vw;
    margin-top: 1rem; }

.navbar {
  width: 100vw;
  height: 3rem;
  display: block;
  margin-top: 2rem;
  border-top: .1rem solid grey;
  border-bottom: .1rem solid grey; }
  .navbar__items {
    text-align: center; }
    .navbar__items--button {
      display: inline-block; }
