.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 59em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 59em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-left {
  margin-left: 5rem !important; }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

/* Die *-categorie wordt niet automatisch ook toegepast op de pseudo-elementen before en after */
/* box-sizing hier en in body: hierboven dwing je * om elders te kijken wat het moet zijn. Doet verder niet zoveel nu */
html {
  font-size: 62.5%;
  /* <-- dit ding hier in de html is de root font-size. Alle elementen uitgedrukt in rem zijn hierop gebaseerd. Om dat makkelijk te maken, zijn we uitgegaan van een root van 10px, want dan hoef je niet steeds te rekenen met die 16 (note to self: IT'ers zijn niet per se goed in rekenen)(note to self: serieus, wie wel? Als wiskundeleraren zichzelf al niet vertrouwen). Om vervolgens te zorgen dat de root dus die 10px is, maar nog wel afhangt van wat de user instelt (slechtzienden zoals ik willen grotere lettertjes) moet het dus 10/16 = 5/8 = 62.5% worden van de browser default */ }
  @media only screen and (max-width: 79.2em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 59em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  overflow-x: hidden; }
  @media only screen and (max-width: 59em) {
    body {
      padding: 0; } }

::selection {
  background-color: #4B90E2;
  color: #FFDA60; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7; }

p {
  margin-bottom: 1.5rem; }

.heading-primary {
  font-size: 3rem;
  display: block;
  margin-bottom: 1rem; }

.heading-secondary {
  font-size: 1.8rem; }

.heading-tertiary {
  font-weight: 300;
  color: black;
  font-size: 1.8rem; }

.fat {
  font-weight: 700; }

:link,
:visited {
  color: black;
  text-decoration: none; }

@media only screen and (max-width: 59em) {
  .heading-primary {
    font-size: 4.5rem;
    margin-bottom: 1.5rem; }
  .heading-secondary {
    font-weight: 600; }
  .heading-tertiary {
    font-weight: 300;
    font-size: 1.6rem; }
  .fat {
    font-weight: 700; }
  p {
    font-size: 1.9rem; } }

.button {
  display: inline-block;
  height: 4rem;
  background-color: #F64061;
  border-radius: 2rem; }
  .button__text {
    margin-top: .3rem;
    margin-right: 1.8rem;
    color: white;
    display: inline-block; }

.meetup-icon {
  width: 2.3rem;
  float: left;
  margin-top: .9rem;
  margin-left: .9rem;
  margin-right: 1.3rem; }

.itsfree {
  display: block;
  position: absolute;
  width: 9rem;
  left: 50%;
  transform: translateX(-50%); }

.fixed-join-us-button {
  position: fixed;
  z-index: 5;
  top: 6rem;
  right: 3rem; }

.join-meetup-button {
  display: inline-block;
  position: relative;
  left: 13rem; }
  @media only screen and (max-width: 37.5em) {
    .join-meetup-button {
      left: 6rem; } }

@media only screen and (max-width: 37.5em) {
  .fixed-join-us-button {
    display: none; } }

.imgcomp {
  overflow-x: visible;
  position: relative;
  width: 28%;
  display: table-cell; }
  .imgcomp__circle1 {
    width: 15rem;
    height: 15rem;
    background-color: purple;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
    z-index: -1;
    position: absolute; }
    .imgcomp__circle1--pic {
      height: 100%; }
    .imgcomp__circle1--left {
      transform: translate(184%, 212%); }
    .imgcomp__circle1--right {
      transform: translate(0%, 224%); }
  .imgcomp__circle2 {
    width: 28rem;
    height: 28rem;
    background-color: purple;
    border-radius: 50%;
    border: 8px solid white;
    overflow: hidden;
    z-index: -2;
    position: absolute; }
    .imgcomp__circle2--pic {
      height: 100%; }
    .imgcomp__circle2--left {
      transform: translate(47%, 54%); }
    .imgcomp__circle2--right {
      transform: translate(4%, 62%); }
  .imgcomp__circle3 {
    width: 48rem;
    height: 48rem;
    background-color: #FFDA60;
    border-radius: 50%;
    position: absolute;
    z-index: -3; }
    .imgcomp__circle3--left {
      transform: translateX(-30%); }
    .imgcomp__circle3--right {
      transform: translate(17%, 0); }

@media only screen and (max-width: 37.5em) {
  .imgcomp {
    width: 100%;
    position: absolute;
    display: block;
    overflow-x: visible;
    z-index: -3; }
    .imgcomp--left {
      transform: translateX(-13%); }
    .imgcomp--right {
      transform: translateX(22%); } }

.composition {
  overflow-x: visible;
  width: 100%;
  height: 68rem;
  position: relative; }
  .composition__hexagon {
    width: 22.7%;
    position: absolute;
    transform: translate(-50%, -50%); }
    .composition__hexagon--left {
      left: 25%;
      top: 53%; }
    .composition__hexagon--middle {
      left: 49%;
      top: 49%; }
    .composition__hexagon--right {
      left: 73%;
      top: 53%; }
  .composition__backgroundelement {
    position: absolute;
    z-index: -1;
    transform: translate(-50%, -50%); }
  .composition__blue--big {
    width: 34vw;
    height: 34vw;
    background-color: #4B90E2;
    border-radius: 50%;
    left: 4%;
    top: 47%; }
  .composition__blue--small {
    width: 6vw;
    height: 6vw;
    background-color: #4B90E2;
    border-radius: 50%;
    left: 30%;
    top: 73%; }
  .composition__yellow--big {
    width: 16vw;
    height: 16vw;
    background-color: #FFDA60;
    border-radius: 50%;
    left: 49%;
    top: 31%; }
  .composition__yellow--small {
    width: 6vw;
    height: 6vw;
    background-color: #FFDA60;
    border-radius: 50%;
    left: 45%;
    top: 71%; }
  .composition__yellow--hexagon1 {
    width: 2%;
    left: 37%;
    top: 27%; }
  .composition__yellow--hexagon2 {
    width: 3.33333333%;
    left: 62%;
    top: 27%; }
  .composition__green--big {
    width: 24.66667vw;
    height: 24.66667vw;
    background-color: #B8E986;
    border-radius: 50%;
    left: 93%;
    top: 58%; }
  .composition__green--small {
    width: 6vw;
    height: 6vw;
    background-color: #B8E986;
    border-radius: 50%;
    left: 69%;
    top: 31%; }

@media only screen and (max-width: 59em) {
  .composition {
    height: 68rem; }
    .composition__hexagon {
      width: 34rem; }
      .composition__hexagon--left {
        left: 25%;
        top: 53%; }
      .composition__hexagon--middle {
        left: 49%;
        top: 49%; }
      .composition__hexagon--right {
        left: 73%;
        top: 53%; }
    .composition__blue--big {
      width: 51rem;
      height: 51rem;
      left: 4%;
      top: 47%; }
    .composition__blue--small {
      width: 9rem;
      height: 9rem;
      left: 30%;
      top: 73%; }
    .composition__yellow--big {
      width: 24rem;
      height: 24rem;
      left: 49%;
      top: 31%; }
    .composition__yellow--small {
      width: 9rem;
      height: 9rem;
      left: 45%;
      top: 71%; }
    .composition__yellow--hexagon1 {
      width: 3rem;
      left: 37%;
      top: 27%; }
    .composition__yellow--hexagon2 {
      width: 5rem;
      left: 62%;
      top: 27%; }
    .composition__green--big {
      width: 37rem;
      height: 37rem;
      left: 93%;
      top: 58%; }
    .composition__green--small {
      width: 9rem;
      height: 9rem;
      left: 69%;
      top: 31%; } }

@media only screen and (max-width: 37.5em) {
  .composition {
    height: 150rem; }
    .composition__hexagon {
      width: 30rem; }
      .composition__hexagon--left {
        left: 50%;
        top: 13%; }
      .composition__hexagon--middle {
        left: 49%;
        top: 35%; }
      .composition__hexagon--right {
        left: 50%;
        top: 56%; }
    .composition__blue--big {
      left: -27%;
      top: 11%; }
    .composition__blue--small {
      left: 69%;
      top: 21%; }
    .composition__yellow--big {
      left: 50%;
      top: 29%; }
    .composition__yellow--small {
      left: 91%;
      top: 91%; }
    .composition__yellow--hexagon1 {
      left: 91%;
      top: 91%; }
    .composition__yellow--hexagon2 {
      left: 91%;
      top: 91%; }
    .composition__green--big {
      left: 91%;
      top: 91%; }
    .composition__green--small {
      left: 91%;
      top: 91%; } }

.hoofd {
  height: 48rem;
  display: table; }
  .hoofd:not(:first-child) {
    margin-top: 10rem; }
  .hoofd:first-child {
    margin-top: 5rem; }
  .hoofd__container {
    width: 72%;
    height: 100%;
    display: table-cell;
    position: relative; }
  .hoofd__content {
    width: 70%;
    margin-top: 18rem;
    margin-left: 15rem; }
    @media only screen and (max-width: 53em) {
      .hoofd__content--left {
        margin-left: 4rem;
        background-color: transparent; } }

@media only screen and (max-width: 37.5em) {
  .hoofd {
    height: 89rem;
    display: block; }
    .hoofd:not(:first-child) {
      margin-top: -9rem; }
    .hoofd:first-child {
      margin-top: -9rem; }
    .hoofd__container {
      width: 100%;
      position: absolute;
      display: block;
      margin-top: 32rem; }
    .hoofd__content {
      width: 90%;
      margin: 18rem auto 0 auto; }
      .hoofd__content .row {
        padding: 0 0 0 1.5rem; } }

.details__left {
  width: 3.5rem; }

.details__right {
  display: inline-block; }

.details__logo {
  width: 3.5rem;
  float: left;
  margin-top: 1.3rem;
  margin-right: 1.3rem; }

.detailbar .details {
  display: inline-block; }

.flavorflavorflavor__container {
  width: 61%;
  margin: 0 auto;
  display: block; }
  @media only screen and (max-width: 37.5em) {
    .flavorflavorflavor__container {
      width: 90%; } }

.threeflavors__container {
  width: 50%;
  transform: translateX(50%);
  margin-top: 10rem; }
  .threeflavors__container p, .threeflavors__container h1 {
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .threeflavors__container p, .threeflavors__container h1 {
        text-align: left; } }
  @media only screen and (max-width: 37.5em) {
    .threeflavors__container {
      width: 90%;
      transform: translateX(0);
      margin: 8rem auto 0 auto; } }

.yellowdot {
  width: 2rem;
  height: 2rem;
  background-color: #FFDA60;
  border-radius: 50%;
  margin: 3.5rem 0;
  margin-left: 75rem; }
  @media only screen and (max-width: 37.5em) {
    .yellowdot {
      margin: 3.5rem auto 3rem auto; } }

.footer {
  width: 100%;
  margin: 0 auto; }
  .footer__container {
    width: 60%;
    display: block;
    transform: translateX(32%);
    margin-top: 10rem; }
    .footer__container--skyline {
      width: 100%;
      margin-bottom: 1rem;
      transform: rotate(180deg) scaleX(-1);
      -ms-filter: FlipH;
      filter: FlipH; }
    .footer__container--skyline-phone {
      display: none; }
    .footer__container--heading {
      transform: translateX(45%);
      margin-top: 3rem;
      margin-bottom: 1rem;
      font-size: 2rem; }

@media only screen and (max-width: 37.5em) {
  .footer__container {
    width: 100%;
    transform: translateX(0); }
    .footer__container--skyline {
      display: none; }
    .footer__container--skyline-phone {
      display: block;
      width: 100%; }
    .footer__container--heading {
      display: none; }
    .footer__container--teampic {
      display: none; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
    @media only screen and (max-width: 59em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 59em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col"] {
    float: left; }
    .row [class^="col"]:not(:last-child) {
      margin-right: 0; }
      @media only screen and (max-width: 59em) {
        .row [class^="col"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 59em) {
      .row [class^="col"] {
        width: 100% !important; } }
  .row .col1of2 {
    width: calc((100% - 4rem) / 2); }
  .row .col1of3 {
    width: calc((100% - 2 * 4rem) / 3); }
  .row .col2of3 {
    width: calc(2 * ((100% - 2 * 4rem) / 3) + 4rem); }
  .row .col1of4 {
    width: calc((100% - 3 * 4rem) / 4); }
  .row .col2of4 {
    width: calc(2 * ((100% - 3 * 4rem) / 4) + 4rem); }
  .row .col3of4 {
    width: calc(3 * ((100% - 3 * 4rem) / 4) + 2 * 4rem); }

.header {
  width: 100%;
  margin: 0 auto; }
  .header__images {
    width: 60%;
    display: block;
    transform: translateX(30%); }
    .header__images--logo {
      width: 50%;
      transform: translateX(50%); }
    .header__images--logo-phone {
      display: none; }
    .header__images--skyline {
      width: 100%;
      margin-bottom: 1rem; }
    .header__images--skyline-phone {
      display: none; }
    .header__images--people {
      display: none; }
  .header__meetup {
    width: 100%;
    margin-top: 1rem; }

@media only screen and (max-width: 37.5em) {
  .header__images {
    width: 100%;
    display: block;
    transform: translateX(0); }
    .header__images--logo {
      display: none; }
    .header__images--logo-phone {
      display: block;
      width: 60%;
      margin: 0 auto; }
    .header__images--skyline {
      display: none; }
    .header__images--skyline-phone {
      display: block;
      margin-top: 4rem;
      width: 100%;
      transform: rotate(180deg) scaleX(-1);
      -ms-filter: FlipH;
      filter: FlipH; }
    .header__images--people {
      display: block;
      width: 50%;
      transform: translateX(50%);
      margin-top: 4rem; }
  .header__meetup {
    margin-top: 4rem; }
  .header__meetup .row {
    width: 90%;
    margin: 0 auto;
    background-color: rgba(75, 144, 226, 0.03);
    border: 1px solid rgba(75, 144, 226, 0.1);
    padding: 2rem 0rem 2rem 2rem; }
    .header__meetup .row [class^="col"]:not(:last-child) {
      margin-bottom: 2rem; } }

.navbar {
  width: 100%;
  height: 3rem;
  display: block;
  margin-top: 2rem;
  border-top: .1rem solid grey;
  border-bottom: .1rem solid grey; }
  @media only screen and (max-width: 59em) {
    .navbar .row {
      max-width: none; } }
  @media only screen and (max-width: 37.5em) {
    .navbar {
      display: none; } }
  .navbar__items {
    text-align: center;
    cursor: pointer; }
    .navbar__items--button {
      display: inline-block; }
