$yellow: #FFDA60;
$blue: #4B90E2;
$green: #B8E986;
$red: #F64061;

//imgcomp
$big-circle: 48rem;
$circle2: 28rem;
$circle1: 15rem;

//compositie
$small-circle: 6vw;
$small-circle-tp: 9rem;

//infosections
$yellowdot: 2rem;


$default-font-size: 1.6rem;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 4rem;
$body-padding: 6rem;

$page-width: 100%;



// okee, nog doen: 

// -eea aan marges standaardiseren, variabelen gebruiken
// -kijken wat er nog meer te variabelen valt
// -grote bewegende pijl toevoegen wanneer iemand op locatie klikt

// -wil ik bij de grote compositie in de normale breedte nog overal overgaan op trfm trl?

// Smartphoneversie...
// -waarom is er een lege ruimte onder de footer??
// -de compositie, die neemt veel breedte
// -join us-button?
// -de art direction regelen op de manier waarop het hoort.......... met <figure> en <source>

// tablet landscape: breedte van linkerimgcompkolom en margin-left van de tekstcontainer zo aanpassen dat pas onder de breedte van 944 de imgcomp afgesneden wordt - dan is in principe de boel geregeld voor bigscreen, computer en tablet-landscape

// Portrait tablet:
// -de imgcomp ook al wat omhoog/omlaag verschuiven
// -compositie herschikken, evt met twee hexagons naast elkaar en de derde er midden onder, daar elementen omheen



// per element in kaart brengen vanaf wanneer er dingen beginnen te verschuiven (en dan bij de grote lijnen proberen te blijven)(als in: niet voor iedere 100px verschil een nieuwe media query)(al is dat op zich wel grappig: dan krijg je bij verschillende breedtes allerlei verschillende combinaties van ontwerpen...)
// compositie
// imgcomp & hoofd__container





// Danny...?
// -de juiste lettertypes
// -het ontbrekende plaatje voor het footerwerk

@include respond(phone) {
    
}