$default-font-size: 1.6rem;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 4rem;
$body-padding: 6rem;

$page-width: 100%;


$yellow: #FFDA60;
$blue: #4B90E2;
$green: #B8E986;
$red: #F64061;

//imgcomp
$big-circle: 48rem;
$circle2: 28rem;
$circle1: 15rem;

//compositie
$comp-width: calc(98vw/3);
$small-circle: calc(#{$comp-width} * .18);

$comp-width-port: calc(98vw/2);
$small-circle-port: calc(#{$comp-width-port} * .18);

$comp-width-phone: 98vw;
$small-circle-phone: calc(#{$comp-width-phone} * .18);

//infosections
$yellowdot: 2rem;





// okee, nog doen: 

// -eea aan marges standaardiseren, variabelen gebruiken
// -kijken wat er nog meer te variabelen valt
// -grote bewegende pijl toevoegen wanneer iemand op locatie klikt




// Smartphoneversie...
// -art direction header: hoe vervang je 1 plaatje door 2 plaatjes?


// Danny...?
// -de juiste lettertypes
// -het ontbrekende plaatje voor het footerwerk

@include respond(phone) {
    
}