.footer {
    width: $page-width;
    margin: 10rem auto 0 auto;

    &__container {
        width: 60%;
        display: block;
        transform: translateX(32%);

        &--skyline {
        width: 100%;
        margin-bottom: 1rem;
        transform: scaleY(-1);
        -ms-filter: FlipH;
        filter: FlipH;
        }

        &--skyline-phone {
            display: none;
        }

        &--heading {
        transform: translateX(45%);
        margin-top: 3rem;
        margin-bottom: 1rem;
        font-size: 2rem;
        }

        &--teampic {}
    }
}

@include respond(phone) {
    .footer {
        margin-top: 5rem;

        &__container {
            width: 100%;
            transform: translateX(0);
    
            &--skyline {
                display: none;
            }

            &--skyline-phone {
                display: block;
                width: 100%;
            }
    
            &--heading {
                display: none;
            }
    
            &--teampic {
                display: none;
            }
        }
    }
}