.header {
    width: $page-width;

    &__images {
        width: 60%;
        display: block;
        margin: 0 auto;

        &--logo {
            width: 50%;
            transform: translateX(50%);
        }

        &--skyline {
            width: 100%;
            margin-bottom: 1rem;
        }

        &--skyline-phone {
            display: none;
        }

        &--people {
            display: none;
        }
    }

    &__meetup {
        width: $page-width;
        margin-top: 1rem;

        @media only screen and (min-width: 59em) {
            & .row {
                & :first-child {
                    & .details {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}

// TAB PORT

@include respond(tab-port) {
    .header {
        &__images {
            width: 80%;
        }
    
        &__meetup .row {
            width: 80%;
            margin: 0 auto;
            background-color: rgba($blue,.03);
            border: 1px solid rgba($blue,.1);
            padding: 2rem 0rem 2rem 2rem; 

            & [class^="col"]:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }
}




// TELEFOON

@include respond(phone) {
    .header {
    
        &__images {
            width: 100%;
            display: block;
            transform: translateX(0);
    
            &--logo {
                display: block;
                width: 60%;
                transform: translateX(0);
                margin: 0 auto;
            }
    
            &--skyline {
                display: block;
                margin-top: 4rem;
                width: 100%;
                transform: scaleY(-1);
                -ms-filter: FlipH;
                filter: FlipH;        
            }
    
            &--people {
                display: block;
                width: 50%;
                transform: translateX(50%);
                margin-top: 4rem;
            }
        }
    
        &__meetup {
            margin-top: 4rem;

            & .row {
                width: 90%;
            }
        }
    }
}