// <div class="navbar">
// <div class="navbar__items">
//     <a href="#themeetup" class="navbar__items--button">
//         <span class="fat">The</span> Meet-up</a>
//     <a href="#threeflavors" class="navbar__items--button">
//         <span class="fat">What</span> we do</a>
//     <a href="#flavorflavorflavor" class="navbar__items--button">
//         <span class="fat">Who</span> it's for</a>
//     <a href="#" class="navbar__items--button">
//         <span class="fat">The</span> location</a>
// </div>
// </div>


.navbar {
    width: $page-width;
    height: 3rem;
    display: block;
    margin-top: 2rem;
    border-top: .1rem solid grey;
    border-bottom: .1rem solid grey;

    @include respond(phone) {
        display: none;
    }


    &__items {                  //de container binnen de balk
        text-align: center;
        cursor: pointer;

        &--button {             // de individuele dingen. Links. Klikbare gevallen.
            display: inline-block;
        }
    }
}