.button {
    display: inline-block;
    height: 4rem;
    background-color: $red;
    border-radius: 2rem;

    &__text {
        margin-top: .3rem;
        margin-right: 1.8rem;
        color: white;
        display: inline-block;
    }
}

.meetup-icon {
    width: 2.3rem;
    float: left;
    margin-top: .9rem;
    margin-left: .9rem;
    margin-right: 1.3rem;
}

.itsfree {
    display: block;
    position: absolute;
    width: 9rem;
    left: 50%;
    transform: translateX(-50%);
}

.fixed-join-us-button {
    position: fixed;
    z-index: 5;
    top: 6rem;
    right: 3rem;
}

.join-meetup-button {
    display: inline-block;
    position: relative;  
    left: 13rem;
}