.button {
    display: inline-block;
    height: 4rem;
    background-color: $red;
    border-radius: 2rem;
    position: relative;
    transition: 0.5s;

    &__text {
        margin-top: .3rem;
        margin-right: 1.8rem;
        color: white;
        display: inline-block;
        transition: 0.5s;

        &--signup {
            margin-left: 1.8rem;
        }

        &:after {
            color: white;
            content: '➯';
            position: absolute;
            opacity: 0;  
            right: -20px;
            transition: 0.5s;
        }
    
        &:hover{
            padding-right: 16px;
            padding-left: 4px;
        }
    
        &:hover:after {
            opacity: 1;
            right: 10px;
        }
    }

    & .meetup-icon {
        width: 2.3rem;
        float: left;
        margin-top: .9rem;
        margin-left: .9rem;
        margin-right: 1.3rem;
    }
    


}


.itsfree {
    display: block;
    position: absolute;
    width: 9rem;
    left: 50%;
    transform: translateX(-50%);
}

.fixed-join-us-button {
    position: fixed;
    z-index: 5;
    top: 3rem;
    right: 3rem;
}

.join-meetup-button {
    display: inline-block;
    position: relative;  
    left: 50%;
    transform: translateX(-50%);
}

// TELEFOON
@include respond(phone) {
    
    .fixed-join-us-button {
        position: fixed;
        display: block;
        width: 100%;
        top: 0;
        right: 0;

        & .button {
            height: 5rem;
            display: block;
            border-radius: 0;
        
            &__text {
                margin-top: .5rem;
                font-size: 2.3rem;
            }
        
            & .meetup-icon {
                width: 2.7rem;
                margin-left: 35%;
                margin-top: 1.2rem;
            }    
        }

        & .itsfree {
            left: 54%;
        }
    }
}