.imgcomp {
    position: relative;
    width: 35%;
    display: table-cell;

    &__circle1 {
        @include circle($circle1,purple);
        overflow: hidden;
        z-index: 3;
        position: absolute;
    
        &--pic {
            height: 100%;
        }
    
        &--left {
            top: 31rem;
            left: 29rem;
        }
    
        &--right {
            bottom: -1rem;
            right: 25rem;
        }
    }

    &__circle2 {
        @include circle($circle2,purple);
        overflow: hidden;
        z-index: 2;
        position: absolute;
    
        &--pic {
            height: 100%;
        }
    
        &--left {
            top: 17rem;
            left: 15rem;
        }
    
        &--right {
            bottom: 3rem;
            right: 10rem;
        }
    }

    &__circle3 {
        width: $big-circle;
        height: $big-circle;
        background-color: $yellow;
        border-radius: 50%;
        position: absolute;
    
        &--left {
            transform: translateX(-30%);
        }
    
        &--right {
            right: -18rem;
        }
    }
}

//GROTE COMPOSITIE
// <section class="composition">
// <div class="row">
// <div class="background-blue col1of3">
//     <div class="big-blue">&nbsp;</div>
//     <div class="small-blue">&nbsp;</div>
// </div>
// <div class="background-yellow col1of3">
//     <img src="images/hexagon-yellow-small.png" alt="small yellow hexagon, like an empty simple logo" class="small-hexagon">
//     <div class="big-yellow">&nbsp;</div>
//     <img src="images/hexagon-yellow-medium.png" alt="slightly bigger yellow hexagon. woohoo" class="medium-hexagon">
// </div>
// <div class="background-green col1of3">
//     <div class="small-green">&nbsp;</div>
//     <div class="big-green">&nbsp;</div>
// </div>
// </div>
// <div class="row">
//     <img src="images/hexagon-first-time.png" alt="first time, explore and get started" class="composition__hexagon col1of3">
//     <img src="images/hexagon-mentorship.png" alt="mentorship, go above and beyond" class="composition__hexagon col1of3">
//     <img src="images/hexagon-masterclass.png" alt="masterclass, the mindset of a developer" class="composition__hexagon col1of3">
// </div>
// </section>



.composition {
    width: 100vw;
    height: $big-circle;            //ff tijdelijk
    margin-top: 20rem;              // ^
    margin-bottom: 40rem;           // ^

    &__hexagon {
        width: 15rem;
    }

    &__background {         //alle elementen hierin hebben een hoogte > clearfix??
        width: 100%;
        height: 25rem;
        z-index: -1;

        &--blue {
            width: 34%;
        }

        &--yellow {
            width: 30%;
        }

        &--green {
            width: 34%;
        }
    }
}

[class^="composition__background--"] {
    display: inline-block;
}

.big-blue {
    @include circle(42rem,$blue);
    display: block;
    left: 90rem;
    top: 20rem;
}

.small-blue {
    @include circle($small-circle,$blue);
    display: block;
}

.big-yellow {
    @include circle(20rem,$yellow);
}

.small-yellow {
    @include circle($small-circle,$yellow);
}

.big-green {
    @include circle(30rem,$green);
}

.small-green {
    @include circle($small-circle,$green);
}

//die stippen tussen de blokjes in flavorflavorflavor

.yellowdot {
    @include circle($yellowdot,$yellow);
}

//cirkels hernoemen als background-blue--big, background--green--small etc etc, en dan eronder gooien

//is hier een mogelijkheid voor een small circle placeholder, of...?

//hmmmm...