// VIER KLEINE COMPOSITIES
.imgcomp {
    overflow-x: visible;
    position: relative;
    width: 28%;
    display: table-cell;

    &__circle1 {
        @include circle($circle1,purple);
        border: 5px solid white;
        overflow: hidden;
        z-index: -1;
        position: absolute;
    
        &--pic {
            height: 100%;
        }
    
        &--left {
            // top: 33rem;
            // left: 29rem;
            transform: translate(184%, 212%);
        }
    
        &--right {
            // bottom: 0rem;
            // right: 24rem;
            transform: translate(0%, 224%);
        }
    }

    &__circle2 {
        @include circle($circle2,purple);
        border: 8px solid white;
        overflow: hidden;
        z-index: -2;
        position: absolute;
    
        &--pic {
            height: 100%;
        }
    
        &--left {
            transform: translate(47%, 54%);
        }
    
        &--right {
            // bottom: 3rem;
            // right: 10rem;
            transform: translate(4%, 62%);
        }
    }

    &__circle3 {
        width: $big-circle;
        height: $big-circle;
        background-color: $yellow;
        border-radius: 50%;
        position: absolute;
        z-index: -3;
    
        &--left {
            transform: translateX(-30%);
        }
    
        &--right {
            transform: translate(17%, 0);
        }
    }
}

@include respond(phone) {
    .imgcomp {
        width: 100%;
        position: absolute;
        display: block;
        overflow-x: visible;
        z-index: -3;

        &--left {
            transform: translateX(-13%);
        }

        &--right {
            transform: translateX(22%);
        }
    }
}









//GROTE COMPOSITIE

//idealiter:
//linkermarge verkleinen vanaf (als je gaat krimpen) 1400px width
//onder 1200 grote blauwe en groene bal verkleinen en eea op hun plaats zetten
//onder 940 linkermarge verkleinen
//onder 900 weer dingen verplaatsen

//onder 600: alles groot en onder elkaar

// (Iphone 8 is rond 400px breed)

.composition {
    overflow-x: visible;
    width: $page-width;
    height: 68rem;
    position: relative;

    &__hexagon {
        width: 22.7%;               // 34rem (bij schermbreedte 1500px)
        position: absolute;
        transform: translate(-50%,-50%);

        &--left {
            left: 25%;
            top: 53%;
        }

        &--middle {
            left: 49%;
            top: 49%;    
        }

        &--right {
            left: 73%;
            top: 53%;    
        }
    }

    &__backgroundelement {
        position: absolute;
        z-index: -1;
        transform: translate(-50%, -50%);
    }

    &__blue {

        &--big {
            @include circle(34vw,$blue); //51rem
            left: 4%;
            top: 47%;    
        }

        &--small {
            @include circle($small-circle,$blue); //9rem
            left: 30%;
            top: 73%;
        }
    }

    &__yellow {

        &--big {
            @include circle(16vw,$yellow); //24rem
            left: 49%;
            top: 31%;          
        }

        &--small {
            @include circle($small-circle,$yellow);
            left: 45%;
            top: 71%;           
        }

        &--hexagon1 {
            width: 2%;        //3rem
            left: 37%;
            top: 27%;          
        }

        &--hexagon2 {
            width: 3.33333333%;        //5rem
            left: 62%;
            top: 27%;      
        }
    }

    &__green {

        &--big {
            @include circle(24.66666667vw,$green);  //37rem
            left: 93%;
            top: 58%;          
        }
    
        &--small {
            @include circle($small-circle,$green);
            left: 69%;
            top: 31%;           
        }
    }
}

@include respond(tab-port) {
    .composition {
        height: 68rem;
    
        &__hexagon {
            width: 34rem;
    
            &--left {
                left: 25%;
                top: 53%;
            }
    
            &--middle {
                left: 49%;
                top: 49%;    
            }
    
            &--right {
                left: 73%;
                top: 53%;    
            }
        }
    
        &__blue {
            &--big {
                //@include circle(51rem,$blue);
                width: 51rem;
                height: 51rem;
                left: 4%;
                top: 47%;    
            }
    
            &--small {
                //@include circle(9rem,$blue); //9rem
                width: $small-circle-tp;
                height: $small-circle-tp;
                left: 30%;
                top: 73%;
            }
        }
    
        &__yellow {
    
            &--big {
                //@include circle(24rem,$yellow);
                width: 24rem;
                height: 24rem;
                left: 49%;
                top: 31%;          
            }
    
            &--small {
                //@include circle(9rem,$yellow);
                width: $small-circle-tp;
                height: $small-circle-tp;
                left: 45%;
                top: 71%;           
            }
    
            &--hexagon1 {
                width: 3rem;
                left: 37%;
                top: 27%;          
            }
    
            &--hexagon2 {
                width: 5rem;
                left: 62%;
                top: 27%;      
            }
        }
    
        &__green {
    
            &--big {
                //@include circle(37rem,$green);  //37rem
                width: 37rem;
                height: 37rem;
                left: 93%;
                top: 58%;          
            }
        
            &--small {
                //@include circle(9rem,$green);
                width: $small-circle-tp;
                height: $small-circle-tp;;
                left: 69%;
                top: 31%;           
            }
        }
    }
}


@include respond(phone) {
    .composition {
        height: 150rem;
    
        &__hexagon {
            width: 30rem;

            &--left {
                left: 50%;
                top: 13%;
            }
    
            &--middle {
                left: 49%;
                top: 35%;    
            }
    
            &--right {
                left: 50%;
                top: 56%;    
            }
        }
    
        &__blue {
            &--big {
                left: -27%;
                top: 11%;    
            }
    
            &--small {
                left: 69%;
                top: 21%;
            }
        }
    
        &__yellow {
            &--big {
                left: 50%;
                top: 29%;          
            }
    
            &--small {
                left: 91%;
                top: 91%;
            }
    
            &--hexagon1 {
                left: 91%;
                top: 91%;          
            }
    
            &--hexagon2 {
                left: 91%;
                top: 91%;      
            }
        }
    
        &__green {
            &--big {
                left: 91%;
                top: 91%;          
            }
        
            &--small {
                left: 91%;
                top: 91%;           
            }
        }
    }
}