// VIER KLEINE COMPOSITIES
.imgcomp {
    overflow-x: visible;
    position: relative;
    width: 28%;
    display: table-cell;

    &__circle1 {
        @include circle($circle1,purple);
        border: 5px solid white;
        overflow: hidden;
        z-index: -1;
        position: absolute;
    
        &--pic {
            height: 100%;
        }
    
        &--left {
            // top: 33rem;
            // left: 29rem;
            transform: translate(184%, 212%);
        }
    
        &--right {
            // bottom: 0rem;
            // right: 24rem;
            transform: translate(0%, 224%);
        }
    }

    &__circle2 {
        @include circle($circle2,purple);
        border: 8px solid white;
        overflow: hidden;
        z-index: -2;
        position: absolute;
    
        &--pic {
            height: 100%;
        }
    
        &--left {
            transform: translate(47%, 54%);
        }
    
        &--right {
            // bottom: 3rem;
            // right: 10rem;
            transform: translate(4%, 62%);
        }
    }

    &__circle3 {
        width: $big-circle;
        height: $big-circle;
        background-color: $yellow;
        border-radius: 50%;
        position: absolute;
        z-index: -3;
    
        &--left {
            transform: translateX(-30%);
        }
    
        &--right {
            transform: translate(17%, 0);
        }
    }
}

@include respond(phone) {
    .imgcomp {
        width: 100%;
        position: absolute;
        display: block;
        overflow-x: visible;
        z-index: -3;

        &--left {
            transform: translateX(-13%);
        }

        &--right {
            transform: translateX(22%);
        }
    }
}









//GROTE COMPOSITIE

//idealiter:
//linkermarge verkleinen vanaf (als je gaat krimpen) 1400px width
//onder 1200 grote blauwe en groene bal verkleinen en eea op hun plaats zetten
//onder 940 linkermarge verkleinen
//onder 900 weer dingen verplaatsen

//onder 600: alles groot en onder elkaar

// (Iphone 8 is rond 400px breed)

.composition {
    overflow-x: visible;
    width: $page-width;
    height: 68rem;
    position: relative;

    &__hexagon {
        width: 34rem;
        margin-top: 16rem;

        &--left {
            margin-left: 20rem;
        }

        &--middle {
            margin: 0 2rem 2rem 2rem;
        }
    }

    &__backgroundelement {
        position: absolute;   // overal soort center5050 toepassen? > inclusief de hexagons
        z-index: -1;
        //transform: translate(-50%, -50%);
    }

    &__blue {

        &--big {
            @include circle(42rem,$blue);
            transform: translate(-23%, 32%); 
            //left: 0%;
            //top: 0%;    
        }

        &--small {
            @include circle($small-circle,$blue);
            left: 40rem;
            top: 45rem;
            transform: translate(0%, 0%);     
        }
    }

    &__yellow {

        &--big {
            @include circle(24rem,$yellow);
            left: 61rem;
            top: 10rem;
            transform: translate(0%, 0%);          
        }

        &--small {
            @include circle($small-circle,$yellow);
            left: 63rem;
            top: 44rem;
            transform: translate(0%, 0%);           
        }

        &--hexagon1 {
            width: 3rem;
            left: 54rem;
            top: 17rem;
            transform: translate(0%, 0%);          
        }

        &--hexagon2 {
            width: 5rem;
            left: 89rem;
            top: 16rem;
            transform: translate(0%, 0%);      
        }
    }

    &__green {

        &--big {
            @include circle(35rem,$green);
            left: 120rem;
            top: 22rem;
            transform: translate(0%, 0%);          
        }
    
        &--small {
            @include circle($small-circle,$green);
            left: 99rem;
            top: 18rem;
            transform: translate(0%, 0%);           
        }
    }
}

@include respond(phone) {
    .composition {
        height: auto;
    
        &__hexagon {
            width: 70%;
            margin: 0 auto;      // waarom werkt dit niet?
            margin-left: 6rem;
    
            &--left {
                margin: 0 0 -2rem 6rem;
                z-index: 3;      // waarom werkt dit niet?
            }
    
            &--middle {
                margin: 0rem 0 -3rem 6rem;
                z-index: 2;      // waarom werkt dit niet?
            }
        }
   
        &__blue {
            &--big {
                transform: translate();
            }
    
            &--small {
                left: 0rem;
                top: 0rem;
                transform: translate();

            }
        }
    
        &__yellow {
            &--big {
                left: 0rem;
                top: 0rem;
                transform: translate();      
            }
    
            &--small {
                left: 0rem;
                top: 0rem;        
            }
    
            &--hexagon1 {
                left: 0rem;
                top: 0rem;        
            }
    
            &--hexagon2 {
                left: 0rem;
                top: 0rem;        
            }
        }
    
        &__green {
            &--big {
                left: 0rem;
                top: 0rem;        
            }
        
            &--small {
                left: 0rem;
                top: 0rem;        
            }
        }
    }
}