// <section class="welcome infosection-left">
// <div class="imgcomp-left">
//     <div class="yellow-circle">&nbsp;</div>
//     <img src="" alt="photo of people at the meet-up" class="people-pic1">
//     <img src="" alt="smaller photo. Turns out people actually go there" class="people-pic2">
// </div>
// <div class="infosection__text">
//     <h1 class="heading-primary">Welcome!</h1>
//     <p>
//         Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat similique sed dicta officia quod. Doloribus deleniti blanditiis, adipisci dolores consectetur magni voluptatem possimus placeat reiciendis exercitationem cumque quos cupiditate aut.
//     </p>
//     <div class="details">
//         <img src="images/point-place.png" alt="Again a simple logo, still not missing anything" class="details__logo">
//         <h2 class="heading-secondary">Question</h2> 
//         <h3 class="heading-tertiary">Answer</h3>
//     </div> 
//     <div class="details">
//         <img src="images/point-place.png" alt="Another simple logo. Yawn." class="details__logo">
//         <h2 class="heading-secondary">Question</h2> 
//         <h3 class="heading-tertiary">Answer</h3>
//     </div>
// </div>
// </section>

// <section class="themeetup infosection-right">
// <div class="infosection__text">
//     <h1 class="heading-primary">Welcome!</h1>
//     <p>
//         Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat similique sed dicta officia quod. Doloribus deleniti blanditiis, adipisci dolores consectetur magni voluptatem possimus placeat reiciendis exercitationem cumque quos cupiditate aut.
//     </p>
//     <div class="details">
//         <img src="images/point-place.png" alt="Again a simple logo, still not missing anything" class="details__logo">
//         <h2 class="heading-secondary">Question</h2> 
//         <h3 class="heading-tertiary">Answer</h3>
//     </div>
//     <div class="details">
//         <img src="images/point-place.png" alt="Another simple logo. Yawn." class="details__logo">
//         <h2 class="heading-secondary">Question</h2> 
//         <h3 class="heading-tertiary">Answer</h3>
//     </div> 
// </div>
// <div class="imgcomp-right">
//     <div class="yellow-circle">&nbsp;</div>
//     <img src="" alt="photo of people. I think." class="people-pic1">
//     <img src="" alt="smaller photo. They do look human." class="people-pic2">
// </div>
// </section>
// <section class="threeflavors infosection-center">
// <div class="infosection__text">
//     <h1 class="heading-primary">Welcome!</h1>
//     <p>
//         Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat similique sed dicta officia quod. Doloribus deleniti blanditiis, adipisci dolores consectetur magni voluptatem possimus placeat reiciendis exercitationem cumque quos cupiditate aut.
//     </p>
// </div>
// </section>

// <section class="flavorflavorflavor">
// <div class="infosection__text">
//     <h1 class="heading-primary">First timers</h1>
//     <p>
//         Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat similique sed dicta officia quod. Doloribus deleniti blanditiis, adipisci dolores consectetur magni voluptatem possimus placeat reiciendis exercitationem cumque quos cupiditate aut.
//     </p>
// </div>
// <div class="yellowdot">&nbsp;</div>
// <div class="infosection__text">
//     <h1 class="heading-primary">Mentorship</h1>
//     <p>
//         Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat similique sed dicta officia quod. Doloribus deleniti blanditiis, adipisci dolores consectetur magni voluptatem possimus placeat reiciendis exercitationem cumque quos cupiditate aut.
//     </p>
// </div>
// <div class="yellowdot">&nbsp;</div>
// <div class="infosection__text">
//     <h1 class="heading-primary">Masterclass</h1>
//     <p>
//         Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat similique sed dicta officia quod. Doloribus deleniti blanditiis, adipisci dolores consectetur magni voluptatem possimus placeat reiciendis exercitationem cumque quos cupiditate aut.
//     </p>
// </div>         
// </section> 

.infosection__text {

}


//     <div class="details">
//         <img src="images/point-place.png" alt="Another simple logo. Yawn." class="details__logo">
//         <h2 class="heading-secondary">Question</h2> 
//         <h3 class="heading-tertiary">Answer</h3>
//     </div> 

.details {
    display: inline;

    &__logo {
        width: 3.5rem;
        float: left;
        margin-top: 1.3rem;
        margin-right: 1.3rem;
    }
}