// INFOSECTIONS LEFT AND RIGHT met kleine fotocompositie ernaast

.hoofd {                          //   + links/rechts
    height: $big-circle;
    display: table;

    &:not(:first-child) {
        margin-top: 10rem;
    }

    &:first-child {
        margin-top: 5rem;
    }

    &__container {
        width: 55%;
        height: 100%;
        display: table-cell;
        position: relative;    
    }

    &__content {            // pas hier is links/rechts weer belangrijk; dit gaat over het positioneren van het tekstblok in de bredere kolom van hoofd
        width: 75%;
        margin-top: 18rem;

        &--right {
            margin-left: 8rem;
        }

        @media only screen and (max-width: 53em) {
            &--left {
                margin-left: 4rem;
                background-color: transparent;
            }
        };
    }
}

// DIE TABLEAUTJES MET LOGO LINKS EN EEN VETTE 'WHEN'/'WHERE' ETC PLUS ERONDER HET ANTWOORD

.details {

    &__left {
        width: 3.5rem;
    }

    &__right {
        display: inline-block;
    }

    &__logo {
        width: 3.5rem;
        float: left;
        margin-top: 1.3rem;
        margin-right: 1.3rem;
    }
}

.detailbar .details {
    display: inline-block;
}



.infosection__container {
    width: 61%;
    transform: translateX(37%);
    display: block;
}

.threeflavors__container {
    width: 50%;
    transform: translateX(50%);
    margin-top: 10rem;

    & p, h1 {
        text-align: center;
    }
}