*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

/* Die *-categorie wordt niet automatisch ook toegepast op de pseudo-elementen before en after */

/* box-sizing hier en in body: hierboven dwing je * om elders te kijken wat het moet zijn. Doet verder niet zoveel nu */

html {
    font-size: 62.5%;  /* <-- dit ding hier in de html is de root font-size. Alle elementen uitgedrukt in rem zijn hierop gebaseerd. Om dat makkelijk te maken, zijn we uitgegaan van een root van 10px, want dan hoef je niet steeds te rekenen met die 16 (note to self: IT'ers zijn niet per se goed in rekenen)(note to self: serieus, wie wel? Als wiskundeleraren zichzelf al niet vertrouwen). Om vervolgens te zorgen dat de root dus die 10px is, maar nog wel afhangt van wat de user instelt (slechtzienden zoals ik willen grotere lettertjes) moet het dus 10/16 = 5/8 = 62.5% worden van de browser default */


    @include respond(tab-land) {        // volgorde van groot naar klein, of eigenlijk van algemeenst (kleiner dan 1200?) naar specifiekst (kleiner dan 600?).
        font-size: 56.25%;                 // 1rem => 9px, dus 9/16 = 56.25%
    }

    @include respond(tab-port) {        // is dus inclusief phone want die is ook kleiner dan 900
        font-size: 50%;                // 1rem => 8px, dus 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%;                 // 1rem => 12px, dus 12/16 = 75%
    }
}
 
body {
    box-sizing: border-box;
    padding: 0rem 3rem;
    overflow-x: hidden;

    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $blue;
    color: $yellow;
}