doctype html
html(lang='en')
 head
   title Pug
   link(rel="stylesheet" type="text/css" href="main.css")
   link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
 body

  // Skyline
  .skyline

  // Meetup
  .meetup-button
    img.icon(src="./images/meetup-icon.png")
    .text Join us!

  // Bubbles 
  //- .bubbles
  //-   .bubble.bubble__big.bubble__big--left
  //-   img.bubble.bubble__medium.bubble__medium--left.bubble--white-border-medium(src="http://placekitten.com/300/300")
  //-   img.bubble.bubble__small.bubble__small--left.bubble--white-border-small(src="http://placekitten.com/200/200")
  //- 
  div
    .bubbles
      .bubble.bubble__big.bubble__big--right
      img.bubble.bubble__medium.bubble__medium--right.bubble--white-border-medium(src="http://placekitten.com/300/300")
      img.bubble.bubble__small.bubble__small--right.bubble--white-border-small(src="http://placekitten.com/200/200")
