doctype html
html(lang='en')
 head
   title Pug
   link(rel="stylesheet" type="text/css" href="main.css")
   link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
 body

  // Skyline
  .skyline

  // Meetup
  .meetup-button
    img.icon(src="./images/meetup-icon.png")
    .text Join us!
